#contenedor{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;	
}

body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat; /*Para que no se duplique la imagen*/
	background-size: cover;  /*Siempre que se amplie el contenido esa imagen se estire de forma automatica y no queden espacios en blanco*/
}

h2{
	font-family: verdana;
	color: #004669;
	margin-left: 10px;
	font-size: 33px;
	text-align: center;
}

h3{
	font-family: verdana;
	color: white;
	margin-left: 5px;
	font-size: 10px;
	text-align: center;
}

header{
	width: 800px;
	/*height: 300;*/
}

nav{
	width: 996px;
	height: 60px;
	background: #FFFFFF;
	border: solid;
	border-color: #004669;
	border-radius: 10px;
	/*border-top-right-radius: 0;
	border-top-left-radius: 0;*/
}

ul{
	margin:auto; 
	padding-top: 4px;
}

li{
	float:left;
	list-style-type: none; 
	padding: 10px; /*Para que en todos los lados se separen 10 pixeles*/
	margin: 4px;
}

a{
	text-decoration: none; /*Para quitar las líneas de los links*/
	font-size: 20px;
	color: #004669;
}
section{
	width: 700px;
	background: white;
	height: 600px;
	float: left;
	margin-top: 20px; /*Separa el nav del section*/
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
aside {
	width: 280px;
	background: white;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

footer{
	width: 1000px;
	height: 75px;
	background: #004669;
	float: left;
	margin-top: 30px;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 20px; /*Para que no quede pegadp de la barra del navegador	*/
}
p{
	font-size: 15px;
	font-weight: bolder; /*Texto en negrita*/
	line-height: 24px; /*para separa el texto del parrafo*/
	text-align: justify;
	margin-left: 10px; /*para separarlo de los lados*/
	margin-right: 10px; /*para separarlo de los lados*/
}
